<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="capstone.inovision">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_inovision"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Inovision"

        >
        <activity android:name=".ui.SplashScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_application_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/facebook_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.AddUpdateContactScreen" android:screenOrientation="portrait"/>
        <activity android:name=".ui.ViewContactScreen" android:screenOrientation="portrait"/>
        <activity android:name=".ui.AddUpdateSensorScreen" android:screenOrientation="portrait"/>
        <activity android:name=".ui.SensorActivitiesScreen" android:screenOrientation="portrait"/>
        <activity android:name=".ui.DoorActivitiesScreen" android:screenOrientation="portrait" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.HomeScreen"
            android:label="@string/title_activity_home_screen"
            android:theme="@style/Theme.Inovision.NoActionBar"/>
        <activity android:name=".ui.SignupScreen" android:screenOrientation="portrait"/>
        <activity android:name=".ui.LoginScreen" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ui.MainActivity" />

        <service
            android:name=".Service.MyFirebaseMessaging"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Service.MyFirebaseIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_baseline_security_24" />


    </application>

</manifest>